@model AdminLTE2.Models.Countries;

@{
    ViewData["Title"] = "Edit Countries";
}

<br />
<div class="content-wrapper">
    <div class="container">
        <h2 class="text-center">Edit country</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="country_id"/>
                        <label asp-for="country_id" class="control-label">Country Id</label>
                        <input asp-for="country_id" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <label asp-for="country_name" class="control-label">Country Name</label>
                        <input asp-for="country_name" class="form-control" />
                        <span asp-validation-for="country_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="region_id" class="control-label">Region</label>
                        <select asp-for="region_id" class="form-control" asp-items="ViewBag.region_id"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save changes" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>

        </div>
    </div>
</div>